:root {
  --start-color: hsl(236, 72%, 79%);
  --end-color: hsl(237, 63%, 64%);
  --primary: linear-gradient(var(--start-color), var(--end-color));
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue :hsl(232, 13%, 33%);

  font-family: 'Montserrat', sans-serif;
}

/* html {
  height: 100%;
} */

body {
  height: 100%;
  background-color: #f7f7fe;
  background-image: url(bg-top.svg);
  background-repeat: no-repeat;
  background-position: top -10% right -250%;
}

h1, h2, h3, h4, h5, p, hr {
  margin: 0;
}


@media (min-width: 48rem) {
  body {
    background-image: url(bg-top.svg), url(bg-bottom.svg);
    background-position: right 0% top 0%, left 0% bottom;
    background-size: 30% auto, 30% auto;
    background-repeat: no-repeat, no-repeat;
  }
}

